<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information Table</title>
    <link href="../style/table.css" rel="stylesheet">
</head>
    
</head>
<body>
    <h2>Student Information Table</h2>
    <div class="create">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Registration Number</th>
                    <th>Age</th>
                    <th>Location</th>
                    <th>Department</th>
                    <% for(var a=0;a<cols-5;a++) {%>
                        <th> </th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= data.name %></td>
                    <td><%= data.regno %></td>
                    <td><%= data.age %></td>
                    <td><%= data.location %></td>
                    <td><%= data.dept %></td>
                    <% for (var i=0;i<cols-5;i++) {%>
                        <td></td>
                    <% } %>
                </tr>
                <% for(var i =0 ; i<rows-1;i++) {%>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <% for (var j=0;j<cols-5;j++) {%>
                            <td></td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
            
        </table>
    </div>
    <form action="/end" method="get">
    <input type="submit" value="GO BACK"/>
    </form>

</body>
</html>